.white-background {
    background-color: #ffffff !important
}

.grey-background {
    background-color: #99aab5 !important
}

.dark-grey-background {
    background-color: #2c2f33 !important
}

.black-background {
    background-color: #23272a !important
}

.white-text { 
    color: #ffffff !important
}
